html,
body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;
}

main {
    flex: 1;
}

.header-custom {
    background-color: #78685c;
}

.footer-custom {
    background-color: #78685c;
}

.brand-logo {
    font-family: 'Arial', sans-serif;
}

.bg-custom {
    background-color: #78685c;
}

.anchor-dark-custom {
    background-color: transparent;
    color: #fff;
}

.anchor-dark-custom:hover {
    background-color: lightgray;
    color: #000;
}

.anchor-custom {
    background-color: white;
    color: #000;
}

.anchor-custom:hover {
    background-color: lightgray;
    color: #000;
}

.custom-button,
.custom-button.bg-black,
.custom-button.bg-black:focus,
.custom-button.bg-black:active {
    background-color: white !important;
    color: #000 !important;
    border: none !important;
}

.custom-button:hover,
.custom-button.bg-black:hover {
    background-color: lightgray !important;
    color: #000 !important;
}

.custom-call-to-action {
    background-color: #ffe5b6;
    color: #000;
}

.custom-call-to-action:hover {
    background-color: #ffd999;
    color: #000;
}

.custom-border {
    border: 2px solid #78685c;
    color: #78685c;
}